@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: var(--bs-secondary);
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.06);
}

.flip-card {
  background-color: transparent;
  min-width: 400px;
  min-height: 415px;
  perspective: 1000px;
}

.flip-card-inner {
  transform: rotateY(0deg);
  position: relative;
  min-width: 400px;
  min-height: 415px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

// .flip-card:active .flip-card-inner {
//   transform: rotateY(180deg);
// }

.flip-card-front, .flip-card-back {
  position: absolute;
  min-width: 400px;
  min-height: 415px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f7f7f7;
  color: black;
  transform: rotateY(0deg);

}

.flip-card-back {
  background-color: #bebebe;
  color: #000000;
  transform: rotateY(180deg);
}

.img-container {
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 1230px) {
  .img-container {
    height: 250px;
    width: 250px;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    min-width: 300px;
    min-height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card {
    background-color: transparent;
    min-width: 300px;
    min-height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    min-width: 300px;
    min-height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}

@media screen and (max-width: 930px) {
  .img-container {
    height: 200px;
    width: 200px;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    min-width: 250px;
    min-height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  h4 {
    font-size: medium;
  }
  h5 {
    font-size: medium;
  }
  h3 {
    font-size: large;
  }
  .flip-card {
    background-color: transparent;
    min-width: 250px;
    min-height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    min-width: 250px;
    min-height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}

